soap_xsd_wsdl_integration/src/main/resources/xsd/records.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.wstutorial.com/ws/TutorialService"
	targetNamespace="http://www.wstutorial.com/ws/TutorialService">
	<xs:element name="records">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="record">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:unsignedShort" />
							<xs:element name="firstName" type="xs:string" />
							<xs:element name="lastNname" type="xs:string" />
							<xs:element name="email" type="xs:string" />
							<xs:element name="gender" type="xs:string" />
							<xs:element name="ipAddress" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>