soap_basic/src/main/WebContent/wsdl/TimeServerImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.infinity.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.infinity.com" xmlns:intf="http://service.infinity.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.infinity.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getTimeAsString">
    <complexType/>
   </element>
   <element name="getTimeAsStringResponse">
    <complexType>
     <sequence>
      <element name="getTimeAsStringReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTimeAsElapsed">
    <complexType/>
   </element>
   <element name="getTimeAsElapsedResponse">
    <complexType>
     <sequence>
      <element name="getTimeAsElapsedReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getTimeAsElapsedRequest">

      <wsdl:part element="impl:getTimeAsElapsed" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTimeAsElapsedResponse">

      <wsdl:part element="impl:getTimeAsElapsedResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTimeAsStringRequest">

      <wsdl:part element="impl:getTimeAsString" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTimeAsStringResponse">

      <wsdl:part element="impl:getTimeAsStringResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TimeServerImpl">

      <wsdl:operation name="getTimeAsString">

         <wsdl:input message="impl:getTimeAsStringRequest" name="getTimeAsStringRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTimeAsStringResponse" name="getTimeAsStringResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTimeAsElapsed">

         <wsdl:input message="impl:getTimeAsElapsedRequest" name="getTimeAsElapsedRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTimeAsElapsedResponse" name="getTimeAsElapsedResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TimeServerImplSoapBinding" type="impl:TimeServerImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getTimeAsString">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTimeAsStringRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTimeAsStringResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTimeAsElapsed">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTimeAsElapsedRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTimeAsElapsedResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TimeServerImplService">

      <wsdl:port binding="impl:TimeServerImplSoapBinding" name="TimeServerImpl">

         <wsdlsoap:address location="http://localhost:8084/soapbasic/services/TimeServerImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
